
$background: rgba(0,0,0,0);
$background-alt: #313244;
$background-alt2: #1e1e2e;
$foreground: #cdd6f4;
$red: #f38ba8;
$yellow: #f9e2af;
$orange: #fab387;
$green: #a6e3a1;
$blue: #89b4fa;
$blue2: #74c7ec;
$magenta: #cba6f7;
$cyan: #94e2d5;

* {
  all: unset;
}

.dashboard {
  padding: .5rem;
}

button:hover {
  color: $blue;
}

.time {
  background-color: $background;
  color: $foreground;
  margin: 0.5rem;
  padding: 0;  
}
.hour,
.min,
.separator-clock {
  padding: 0 0 0 0;
  font-family: JetBrainsMono Nerd Font;
  font-weight: bold;
  font-size: 12px;
}
.separator-clock {
  margin-top: -5px;
}
.day {
  padding: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 12px;
}
